<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Details</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="row col-md-6 col-md-offset-3">
        <ul class="nav nav-pills nav-justified">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/details">Details</a></li>
        </ul>
    </div>

    <div class="col-md-6 col-md-offset-3">
        {% with  messages=get_flashed_messages() %}
            {% if messages %}
                {% for item in messages %}
                    <div class="alert alert-success">
                        <strong>Success!</strong> {{ item }}.
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <table class="table">
            <thead>
            <tr>
                <td>Names</td>
                <td>Email</td>
                <td>DOB</td>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>